#header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
 
}

body{
    background-color: #263238;
}



#loginText, #registerText, #user-name, .title{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: large;


}

#page-title{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: aliceblue;

}

.author, .content{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.MuiInputBase-root 	{

    margin-right: 10px;


}
