#header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
 
}

#loginText, #registerText, #user-name {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: large;


}



.MuiInputBase-root 	{

    margin-right: 10px;


}
